.inputContainer {

  input {
    //color: var(--color-fade-gray);
    font-size: 1.125rem;
    padding: .75rem .25rem;
    border: 0;
    border-bottom: 1px solid var(--color-fade-gray);
    transition: border-bottom 200ms;
    margin-bottom: 1rem;

    &:focus, &:hover {
      outline: unset;
      border-bottom: 3px solid var(--color-highlight);
    }
  }
}
