.container {
  padding-top: 13vh;

  form {
    width: 50%;
    margin: auto;

    .checkbox {
      background-color: black;
    }

    h2 {
      font-family: "Abril Fatface", sans-serif;
      letter-spacing: 1.1px;
      margin-bottom: 2.25rem;
    }
  }
}
