.chip {
  padding: .35rem .75rem;
  background-color: var(--color-background);
  margin-top: -.75rem;
  margin-bottom: 5vh;
  margin-right: .75rem;

  h5 {
    margin: 0;
    letter-spacing: 1.1px;
  }
}
