@import "styles/animations";

  .leftBlock {
    h1 {
      margin-top: 0.25rem;
    }

    p {
      width: 70%;
    }
  }

  .rightBlock {
    align-items: center;

    img {
      width: 100%
    }

    .images {
      position: relative;

      .imgWrapper {
        width: 90%;
        min-width: 50%;
        position: relative;
        display: inline-block;
        z-index: 9999;
        transition: .5s;
        cursor: pointer;
      }

      .dots {
        position: absolute;
        bottom: -1.35rem;
        left: -1.35rem;
        width: 20%;
      }

      small {
        font-size: 1rem;
        color: var(--color-fade-gray);
        font-weight: 500;
        letter-spacing: 0.13rem;
        cursor: pointer;
        display: none;
        position: absolute;
        bottom: -1.25rem;
        right: 3.5rem;
        transition: fade-in .1s;

      }

      &:hover {

        .imgWrapper {
          transform: translate(7px, -7px);
        }

        small {
          display: block;
          animation: fadeIn .75s ease-in;
        }
      }

    }
  }

  @media (max-width: 1024px) {
    .rightBlock {
      display: none;
    }
  }

@media (max-width: 576px) {
    .rightBlock {
      display: none;
    }

  .leftBlock {
    margin: 4rem 0 1rem;
  }
  }
