

.test {
  text-align: center;
  margin-top: 3rem;
  //transition: .1s;
  position: relative;
  //composes: circle from '../../styles/globals.scss';

  &:hover {
    color: blue;
  }
}

@keyframes circles {
  from {        opacity: 1    }
  to {        opacity: .5    }
}

.circle {


  animation-name: circles;
  animation-duration: .5s;
  animation-timing-function: unset;
  animation-direction: normal;
  animation-delay: 3s;
  //animation-timing-function: linear;

  //animation: circles 1s;
  //animation-name: circles;
  //animation-duration: 1s;
  //animation-delay: -2s;
  //animation-name: circles;
  //animation-duration: .3s;
  //display: inline-block;
}


